.hide {
  display: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  font-style: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  background-color: transparent;
  font: inherit;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}
input {
  font-family: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
