.hero {
  width: 100%;
  margin: 0 auto;
  padding: 72px 0;
  background: #2e2f42;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    url('../images/hero-bgmob@2x.jpg');
}
@media (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url('../images/hero-bgmob@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    margin: 0 auto;
    padding: 112px 0;
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url('../images/hero-bgtab@1x.jpg');
  }
  @media (min-resolution: 2dppx) {
    .hero {
      background-image:
        linear-gradient(
          180deg,
          rgba(46, 47, 66, 0.7) 0%,
          rgba(46, 47, 66, 0.7) 100%
        ),
        url('../images/hero-bgtab@2x.jpg');
    }
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url('../images/hero-bgdesc@1x.jpg');
  }
  @media (min-resolution: 2dppx) {
    .hero {
      background-image:
        linear-gradient(
          180deg,
          rgba(46, 47, 66, 0.7) 0%,
          rgba(46, 47, 66, 0.7) 100%
        ),
        url('../images/hero-bgdesc@2x.jpg');
    }
  }
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  max-width: 216px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 16px 32px;
  border-radius: 4px;
  width: fit-content;
  background: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
}
@media screen and (min-width: 1158px) {
  .hero-button {
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
  }
}
